:root {
    --white: #ffffff;
    --cian: #26f0f1;
}

* {
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(80deg, #202a25 23%, #5f4bb6 69%, #86a5d9 100%);
    height: 50vh;
}

.header__linha1 {
    display: flex;
}

.header__logo {
    width: 100px;
}

.header__itens {
    display: flex;
    margin: 0 auto;
}

.header__item {
    margin: 0 4em;
}