:root {
    --white: #ffffff;
    --cian: #26f0f1;
    --black: #000000;
    --gray: #808080;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a rolagem horizontal */

}

header {
    background: rgb(118,75,162);
    background: linear-gradient(90deg, rgba(118,75,162,1) 0%, rgba(102,126,234,1) 48%, rgba(38,240,241,1) 99%); 
    height: 50vh;
    padding: 2em 0;
    text-align: center;
    color: var(--white);

}

.header__linha1 {
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 100px;
}

.header__itens {
    display: flex;
    margin: 0 15%;
}

.header__item {
    margin: 0 4em;
    color: var(--white);
    transition: linear 500ms;
    text-decoration:none

}

.item__about:hover ,.item__models:hover, .item__contact:hover {
    transform: scale(1.2);
    color: var(--black);
    font-weight: bold;
}

.item__a {
    text-decoration:none
}

.header__linha2 {
    margin: 100px 0;
}

.header__title {
    font-size: 30px;
} 

.about {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-image: url(/Imgs/fundo.jpg);
    background-attachment: fixed; 
    background-size: cover;
    background-position: center; 
}

.about__texto {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    width: 50%;
}

.about__title {
    margin: 2em 0;
}

.modelos {
    padding: 2em 0;
    background: rgb(118,75,162);
    background: linear-gradient(90deg, rgba(118,75,162,1) 0%, rgba(102,126,234,1) 48%, rgba(38,240,241,1) 99%); 
}

.modelos__title {
    text-align: center;
    margin: 2em;
    color: var(--white);
}

.row {
    margin: 2em;
}

.modelos__img {
    width: 300px;
    border: 5px outset var(--gray); 
}


.contact {
    background-color: var(--white);
    color: black;
    padding: 2em;
    font-size: 20px;
}

.contact__conteudo {
    width: 60%;
    margin: 0 auto;
}

.contact__texto {
    margin: 1.5em;
}

footer {
    background: rgb(118,75,162);
    background: linear-gradient(90deg, rgba(118,75,162,1) 0%, rgba(102,126,234,1) 48%, rgba(38,240,241,1) 99%);    color: var(--white);
    padding: 2em;
    text-align: center;
}

